/* this sets the height of the document for now */
body, html {
    height: 100%;
    margin: 0;
    font-family: Calibri;
}

/* Style the tab links */
.tablink {
    background-color: lightslategray;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink{
    background-color: orange;
}

/* Style tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px 20px;
    height: 100%;
}

.column {
    float: left;
    float: center;
    width: 45%;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

/* for the column cards */
.col-container {
    display: table;
    width: 100%;
}

.col {
    display: table-cell;
}

body {
    font-family: Calibri, Arial;
}

#FitnessDiary {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative; 
    left: 431px;
}

#easyWork {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    position: relative; 
    top: 220px;
    left: 25px;
   
}


/* Float two column side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to the padding in columns */
.row{margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: " ";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: lightsteelblue
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px
    }
}

#whoAreWe {
    position: relative;
    left: 20px;
}

#toRUHack {
    position: relative;
    left: 20px;
}

#Home {background-color: thistle;}
#Exercise {background-color: lightgray;}
#Login {background-color: lightpink;}
#Sign-Up{background-color: lightsteelblue;}
