/* this sets the height of the document for now */
body, html {
    height: 100%;
    margin: 0;
    font-family: Calibri;
}

/* Style the tab links */
.tablink {
    background-color: lightslategray;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink{
    background-color: orange;
}

/* Style tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px 20px;
    height: 100%;
}

.column {
    float: left;
    float: center;
    width: 45%;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}